img{
  height: 70%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.profile{
  width: 30%;
  height: 40%;
  float:left;
  padding: 1%;
  background-color: yellow;
}

.profile h3{
  text-align: center;
  font-family: courier;
}

body h1{
  color: blue;
}
